<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>procon29-server</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="eel.js" defer></script>
  <script src="script.js" defer></script>
</head>
<body>

<div id="app">
  <label id="options">
    <div id="board-options">
      <div id="size-options">
        <label>
          Row:
          <input type="number"
                 class="size-input"
                 v-model.number="options.row"
          >
        </label>
        <label>
          Column:
          <input type="number"
                 class="size-input"
                 v-model.number="options.column"
          >
        </label>
      </div>
      <div id="symmetry-options">
        <label>
          Board Vertical:
          <input type="checkbox"
                 v-model="options.symmetry_v"
          >
        </label>
        <label>
          Horizontal:
          <input type="checkbox"
                 v-model="options.symmetry_h"
          >
        </label>
      </div>
    </div>
      <div id="agents-option">
        <div>
          <label>
            My Agent 0:
            row
            <input type="number"
                   class="size-input"
                   v-model.number="options.agent_row"
            >
            column
            <input type="number"
                   class="size-input"
                   v-model.number="options.agent_column"
            >
          </label>
      </div>
      <div id="agent-symmetry-options">
        <label>
          My Agent Vertical:
          <input type="checkbox"
                 v-model="options.agent_symmetry_v"
          >
        </label>
        <label>
          Horizontal:
          <input type="checkbox"
                 v-model="options.agent_symmetry_h"
          >
        </label>
        <button id="gen-scores" v-on:click="genScores()">Generate random board</button>
      </div>
    </div>
    <div id="qr-option">
      <label>
        Camera ID:
        <input type="number"
               class="size-input"
               v-model.number="options.camera_id"
        >
      </label>
    <button id="read-qr-scores" v-on:click="readQR()">Read QR code</button>
    <div id="server-options">
      <label>
        Server Port:
        <input type="number"
               v-model.number="options.server_port"
        >
        <button id="standby" v-on:click="standby()">待機開始</button>
      </label>
    </div>
    <button id="game-start" v-on:click="gameStart()">Game Start</button>
  <Hr>
  <table class="board" v-if="isDisplaying" v-cloak>
    <tr>
      <td class="guide-cell"></td>
      <td
        class="guide-cell"
        v-for="i in cellScores[0].length"
      >
        {{ i - 1 }}
      </td>
    </tr>
    <tr v-for="(row, i) in cellScores">
      <td
        class="guide-cell"
      >
        {{ i }}
      </td>
      <td
        class="score-cell"
        v-for="(column, j) in row"
        v-bind:title="`${i}, ${j}`"
        v-bind:class="{
          'a0-present-cell': cellScores[i][j].isA0Present,
          'a1-present-cell': cellScores[i][j].isA1Present,
          'b0-present-cell': cellScores[i][j].isB0Present,
          'b1-present-cell': cellScores[i][j].isB1Present,

          'a-area-cell': cellScores[i][j].isAArea,
          'b-area-cell': cellScores[i][j].isBArea,
          'a-tile-cell': cellScores[i][j].isATile,
          'b-tile-cell': cellScores[i][j].isBTile
        }"
      >
        {{ column.number }}
      </td>
    </tr>
  </table>
  <button id="encode-qr" v-on:click="encodeQR()">encode Board to QR</button>
</div>

</body>
</html>
