<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>procon29</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="eel.js" defer></script>
  <script src="script.js" defer></script>
</head>
<body>

<div id="app">
  <div id="options">
    <label>
      Row:
      <input type="text"
        pattern="^[0-9]{0,2}$"
        v-model="options.row"
      >
    </label>
    <label>
      Column:
      <input type="text"
        pattern="^[0-9]{0,2}$"
        v-model="options.column"
      >
    </label>
    <label>
      Vertical:
      <input type="checkbox"
             v-model="options.symmetry_v"
      >
    </label>
    <label>
      Horizontal:
      <input type="checkbox"
             v-model="options.symmetry_h"
      >
    </label>
    <button id="game-start" v-on:click="gameStart()">Game Start</button>
  </div>
  <table class="board" v-if="isDisplaying" v-cloak>
    <tr>
      <td class="guide-cell"></td>
      <td
        class="guide-cell"
        v-for="i in cellScores.length"
        v-bind:class="{ 'focused-cell': isMouseoverRelatedCell(null, i - 1) || isMouseoverCell(null, i - 1) }"
        v-on:mouseover="cellMouseover(null, i - 1)"
        v-on:mouseout="cellMouseout(null, i -1)"
      >
        {{ i - 1 }}
      </td>
    </tr>
    <tr v-for="(row, i) in cellScores">
      <td
        class="guide-cell"
        v-bind:class="{ 'focused-cell': isMouseoverRelatedCell(i, null) || isMouseoverCell(i, null) }"
        v-on:mouseover="cellMouseover(i, null)"
        v-on:mouseout="cellMouseout(i, null)"
      >
        {{ i }}
      </td>
      <td
        class="score-cell"
        v-for="(column, j) in row"
        v-bind:title="`${i}, ${j}`"
        v-bind:class="{ 
          'focused-cell': isMouseoverCell(i, j),
          'focus-related-cell': isMouseoverRelatedCell(i, j),
          'a0-present-cell': cellScores[i][j].isA0Present,
          'a1-present-cell': cellScores[i][j].isA0Present,
          'b0-present-cell': cellScores[i][j].isA0Present,
          'b0-present-cell': cellScores[i][j].isA0Present,
          'a-area-cell': cellScores[i][j].isAArea,
          'b-area-cell': cellScores[i][j].isBArea,
          'a-tile-cell': cellScores[i][j].isATile,
          'b-tile-cell': cellScores[i][j].isBTile
        }"
        v-on:mouseover="cellMouseover(i, j)"
        v-on:mouseout="cellMouseout(i, j)"
        v-on:click="cellClicked(i, j)"
      >
        {{ column.number }}
      </td>
    </tr>
  </table>
</div>

</body>
</html>
